@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
:root {
  --whtie: white;
  --black: black;
  --gray: #f2f2f2;
  --green950: #004140;
  --green500: #19b89d;
  --cyan800: #006971;
  --cyan500: #26b5c0;
  --gold500: #e28625;
  --gold200: #ffd473;
  --heightOfCard: 442px;
}
* {
  box-sizing: border-box;
}
.big-shoulders-bold {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
}
.lexend-deca-regular {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 165;
  font-style: normal;
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 0px;
  opacity: 0.75;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  background-color: white;
  width: 83.7%;
  padding: calc(calc(1502px - 442px * 3) / 2) 0;
}
.card {
  display: flex;
  flex-direction: column;
  height: var(--heightOfCard);
  background-color: tomato;
}
img {
  width: 63.99px;
  height: 40px;
}
a {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .card {
    background-color: pink;
  }
  body {
    display: flex;
    justify-content: center;
  }
}
